body {
    font-family: Arial, sans-serif;
    background-color: #001E09;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #ffffff;
}

#chat-container {
    background-color: #c1e899;
    border-radius: 5px;
    padding: 20px;
    height: 380px;
    overflow-y: auto;
    margin-bottom: 20px;
}

#user-input, #interest-input {
    display: flex;
    margin-bottom: 10px;
}

input[type="text"] {
    flex-grow: 1;
    padding: 10px;
    font-family: Arial;
    font-size: 16px;
    border: 1px solid #55883b;
    border-radius: 5px 0 0 5px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #55883b;
    color: white;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

button:hover {
    background-color: #c1e899;
}

.message {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}

.user-message {
    background-color: #55883b;
    color: white;
    align-self: flex-end;
}

.bot-message {
    background-color: #e6f0dc;
    color: #333;
    align-self: flex-start;
}
.content-type-label {
    color: #ffffff;
}